body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}
header{
background:#111;
color:white;
padding:15px;
text-align:center;
}
.hero{
padding:80px;
text-align:center;
background:#ddd;
}
.btn,button{
background:#ff4d4d;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
text-decoration:none;
cursor:pointer;
}
.events{
display:flex;
justify-content:center;
gap:20px;
padding:30px;
}
.event-card{
background:white;
padding:20px;
width:220px;
border-radius:8px;
text-align:center;
}
form{
background:white;
padding:20px;
width:300px;
margin:20px auto;
border-radius:8px;
}
input{
width:100%;
padding:8px;
margin-bottom:10px;
}